@import "tailwindcss";

:root {
  --primary: #232323;
  --secondary: #80B500;
  --tertiary: #546375;
  --white: #ffffff;
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-white: var(--white);
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", monospace;

}

@theme inline {
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-tertiary: var(--color-tertiary);
  --color-white: var(--color-white);
}
@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-inter: "Inter", monospace;
}
/* Top Selling Products Swiper */

.top-selling-swiper .swiper-pagination {
  bottom: 0 !important;
}

.top-selling-swiper .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  opacity: 0.4;
}

.top-selling-swiper .swiper-pagination-bullet-active {
  width: 20px;
  border-radius: 10px;
  opacity: 1;
}